dash==2.14.2
dash_admin_components==0.1.4
dash_ag_grid==31.0.0
dash_bootstrap_components==1.5.0
dash_iconify==0.1.2
dash_mantine_components==0.12.0
Flask==2.3.2
numpy==1.23.5
pandas==1.5.3
plotly==5.14.1
plydata==0.4.3
gunicorn
dash-tools
